In [1]:
import pandas as pd
import numpy as np
import os

print("Current working directory:")
print(os.getcwd())

print("\nFiles in project root:")
print(os.listdir(".."))

print("\nFiles in data/processed:")
print(os.listdir("../data/processed"))

Current working directory:
d:\projects\newssumm-summarization\notebooks

Files in project root:
['.git', '.gitignore', 'data', 'evaluation', 'models', 'notebooks', 'preprocessing', 'README.md']

Files in data/processed:
['multidoc_v1.csv', 'newssumm.csv', 'sample_5k.csv']

In [2]:
sample_path = "../data/processed/sample_5k.csv"

df = pd.read_csv(sample_path)

print("Shape:", df.shape)
df.head(3)

Shape: (5000, 6)

,newspaper_name,published_date\n,headline,article_text,human_summary,news_category
0,Indian Express,2020-06-01 00:00:00,Virus may be invisible enemy but COVID warrior...,Prime Minister Narendra Modi Monday hailed the...,Prime Minister of India said that the Virus ma...,National News
1,Economic Times,2013-02-11 00:00:00,"Economy can bounce back, says PM Modi","ALLAHABAD: At least 20 persons were killed, an...","In Maha Kumbh, nearly 20 persons were killed. ...",National News
2,Business Standard,2013-02-11 00:00:00,At least 20 killed in stampede in Allahabad,"At least 20 people were killed, and scores of ...",As per the sources 20 people died and scores w...,National News

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   newspaper_name   5000 non-null   object
 1   published_date
  5000 non-null   object
 2   headline         5000 non-null   object
 3   article_text     5000 non-null   object
 4   human_summary    5000 non-null   object
 5   news_category    5000 non-null   object
dtypes: object(6)
memory usage: 234.5+ KB

In [4]:
df.columns.tolist()

['newspaper_name',
 'published_date\n',
 'headline',
 'article_text',
 'human_summary',
 'news_category']

In [6]:
import pandas as pd

multi_path = "../data/processed/multidoc_v1.csv"
df_multi = pd.read_csv(multi_path)

df_multi.shape

(306, 5)

In [7]:
df_multi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   input_text      306 non-null    object
 1   target_summary  306 non-null    object
 2   num_docs        306 non-null    int64
 3   category        306 non-null    object
 4   date            306 non-null    object
dtypes: int64(1), object(4)
memory usage: 12.1+ KB

In [8]:
df_multi.columns.tolist()

['input_text', 'target_summary', 'num_docs', 'category', 'date']

In [9]:
df_multi["input_text"].iloc[0][:1000]

"[DOC_1]\nNew Delhi: Bajaj Auto and TVS Motor Co on Thursday said they have settled a decade-old dispute related to a patent infringement case with the two companies withdrawing several pending proceedings from various courts and fora. In separate regulatory filings, the two companies said they have entered into a settlement agreement on Thursday to amicably settle the decade-old dispute related to alleged infringement of Bajaj's patent for digital twin spark plug ignition technology.  The settlement also includes defamation suit against Bajaj Auto filed by TVS Motor and other related proceedings filed against each other, which were pending before the Madras High Court, Bombay High Court, the Intellectual Property Appellate Board, Chennai, and courts in Sri Lanka and Mexico, the statements added.   Both, TVS Motor and Bajaj Auto have mutually agreed to withdraw the pending proceedings and release each other from all liabilities, claims, demands and actions in respect of the pending proce"

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [10]:
df_multi["num_docs"].describe()

count    306.000000
mean       3.823529
std        0.891620
min        3.000000
25%        3.000000
50%        3.500000
75%        5.000000
max        5.000000
Name: num_docs, dtype: float64

In [11]:
df_multi["input_len"] = df_multi["input_text"].apply(lambda x: len(x.split()))
df_multi["summary_len"] = df_multi["target_summary"].apply(lambda x: len(x.split()))

df_multi[["input_len", "summary_len"]].describe()

         input_len  summary_len
count   306.000000   306.000000
mean   1392.522876   138.251634
std     722.209384    88.086389
min     209.000000    23.000000
25%     859.250000   101.000000
50%    1303.000000   120.000000
75%    1865.750000   152.000000
max    4067.000000   981.000000

In [12]:
from transformers import LEDTokenizer

tokenizer = LEDTokenizer.from_pretrained("allenai/led-base-16384")

ModuleNotFoundError: No module named 'transformers'